@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.heading2Xl {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    text-shadow: 5px 2px rgba(105, 90, 205, 0.267);
    box-shadow: 0px 1px 20px 11px rgb(97 86 47 / 48%);
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-family: 'Chewy', cursive;
    font-size: 1.3rem;
    line-height: 1.5;
    text-shadow: 1px 1px rgba(75, 46, 15, 0.918);
    color: rgb(141, 92, 37);
}

.borderCircle {
    border-radius: 65px;
}

.colorInherit {
    color: antiquewhite;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: rgb(95, 32, 32);
}

.fontStyle1{
    color: rgb(11, 63, 11);
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.3rem;
    letter-spacing: 2px;
  }

.fontStyle2{
    color: rgba(3, 5, 15, 0.938);
    font-size: 1.8rem;
  }

.firstPostStyle {
    background: rgb(207 206 206 / 88%);
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 6px rgb(66 48 187 / 31%);
}

.firstPostBg {
    background-image: url('/images/piano.jpg');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* petite mise en page permettant de cadrer l'image en sorte que lorsqu'un zoom est effectué
    (pour passer en mode android etc...), la photo de fond ne se démultiplie pas. */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

.abdtTutoBg {
    background-color: rgba(14, 13, 13, 0.726);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.abdtTutoStyle {
    background: rgb(207 206 206 / 88%);
    border-radius: 2rem;
    box-shadow: 0px 0px 8px 6px rgb(66 48 187 / 31%);
    padding-bottom: 2%;
}

.twoFirstSkills{
    display: flex;
    justify-content: space-around;
    margin: 0% 1%;
    box-shadow: black;
}

.twoLastSkills {
    display: flex;
    justify-content: space-around;
    margin: 0% 1%;
    margin-bottom: 5%;
}

.twoFirstSkillsFont {
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 110%;
    border: solid;
    border-left: currentColor;
    border-right: currentColor;
    background-color: #3c54989c;
}

.twoLastSkillsFont {
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 110%;
    border: solid;
    border-left: currentColor;
    border-right: currentColor;
    background-color: #3c54989c;
}

.videoStyles {
    box-shadow: 0px 0px 6px 8px #3c3434;
}

@keyframes move {
    100% {
        transform: rotate(360deg);
    }
}

.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3961ab;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 67%;
    left: 72%;
    animation-duration: 27s;
    animation-delay: -6s;
    transform-origin: 4vw -17vh;
    box-shadow: -4vmin 0 5.546034114340279vmin currentColor;
}
.background span:nth-child(1) {
    color: #FFACAC;
    top: 73%;
    left: 86%;
    animation-duration: 27s;
    animation-delay: -35s;
    transform-origin: 25vw -21vh;
    box-shadow: -40vmin 0 5.8vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 62%;
    left: 65%;
    animation-duration: 38s;
    animation-delay: -5s;
    transform-origin: 7vw 19vh;
    box-shadow: 40vmin 0 5.4vmin currentColor;
}
.background span:nth-child(3) {
    color: #E45A84;
    top: 3%;
    left: 1%;
    animation-duration: 23s;
    animation-delay: -48s;
    transform-origin: 25vw -6vh;
    box-shadow: -40vmin 0 5vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 41%;
    left: 60%;
    animation-duration: 19s;
    animation-delay: -46s;
    transform-origin: -1vw 25vh;
    box-shadow: 40vmin 0 4vmin currentColor;
}
.background span:nth-child(5) {
    color: #FFACAC;
    top: 11%;
    left: 79%;
    animation-duration: 41s;
    animation-delay: -28s;
    transform-origin: 17vw 21vh;
    box-shadow: 40vmin 0 5.8vmin currentColor;
}
.background span:nth-child(6) {
    color: #E45A84;
    top: 63%;
    left: 18%;
    animation-duration: 37s;
    animation-delay: -9s;
    transform-origin: 6vw 11vh;
    box-shadow: -40vmin 0 5.6vmin currentColor;
}
.background span:nth-child(7) {
    color: #E45A84;
    top: 67%;
    left: 10%;
    animation-duration: 43s;
    animation-delay: -23s;
    transform-origin: 16vw -5vh;
    box-shadow: 40vmin 0 5.6vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 46%;
    left: 18%;
    animation-duration: 17s;
    animation-delay: -27s;
    transform-origin: 25vw 11vh;
    box-shadow: -40vmin 0 5.0574082445708495vmin currentColor;
}
.background span:nth-child(9) {
    color: #583C87;
    top: 5%;
    left: 29%;
    animation-duration: 36s;
    animation-delay: -32s;
    transform-origin: 6vw 9vh;
    box-shadow: -40vmin 0 5.2vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 9%;
    left: 67%;
    animation-duration: 10s;
    animation-delay: -22s;
    transform-origin: -1vw -9vh;
    box-shadow: 40vmin 0 3.5vmin currentColor;
}
.background span:nth-child(11) {
    color: #FFACAC;
    top: 3%;
    left: 21%;
    animation-duration: 32s;
    animation-delay: -7s;
    transform-origin: -18vw -10vh;
    box-shadow: 40vmin 0 5.4vmin currentColor;
}
.background span:nth-child(12) {
    color: #FFACAC;
    top: 66%;
    left: 31%;
    animation-duration: 42s;
    animation-delay: -10s;
    transform-origin: 7vw 24vh;
    box-shadow: -40vmin 0 3vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 27%;
    left: 97%;
    animation-duration: 52s;
    animation-delay: -26s;
    transform-origin: 3vw 20vh;
    box-shadow: 40vmin 0 5.7vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 8%;
    left: 76%;
    animation-duration: 38s;
    animation-delay: -41s;
    transform-origin: 5vw -7vh;
    box-shadow: 40vmin 0 4vmin currentColor;
}
.background span:nth-child(15) {
    color: #583C87;
    top: 83%;
    left: 69%;
    animation-duration: 11s;
    animation-delay: -6s;
    transform-origin: -15vw 14vh;
    box-shadow: -40vmin 0 5.7vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 72%;
    left: 29%;
    animation-duration: 32s;
    animation-delay: -25s;
    transform-origin: 3vw 25vh;
    box-shadow: 40vmin 0 2.5vmin currentColor;
}
.background span:nth-child(17) {
    color: #FFACAC;
    top: 53%;
    left: 37%;
    animation-duration: 23s;
    animation-delay: -2s;
    transform-origin: -10vw -4vh;
    box-shadow: -40vmin 0 5vmin currentColor;
}
.background span:nth-child(18) {
    color: #FFACAC;
    top: 61%;
    left: 91%;
    animation-duration: 52s;
    animation-delay: -40s;
    transform-origin: 20vw 8vh;
    box-shadow: 40vmin 0 5.4vmin currentColor;
}
.background span:nth-child(19) {
    color: #FFACAC;
    top: 78%;
    left: 78%;
    animation-duration: 40s;
    animation-delay: -21s;
    transform-origin: 25vw 11vh;
    box-shadow: -40vmin 0 5.9vmin currentColor;
}
.background span:nth-child(20) {
    color: #4ead41d2;
    top: 67%;
    left: 6%;
    bottom: 10%;
    animation-duration: 20s;
    animation-delay: -21s;
    transform-origin: 20vw 4vh;
    box-shadow: -40vmin 0 5.9vmin currentColor;
}
.background span:nth-child(21) {
    color: #4ead41d2;
    top: 15%;
    left: 50%;
    animation-duration: 10s;
    animation-delay: -21s;
    transform-origin: -25vw 9vh;
    box-shadow: -40vmin 0 3vmin currentColor;
}



